*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.box{
    width: 600px;
    padding: 25px;
    background-color: purple;
    color: white;
    margin: 150px auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}